.button2 {
    margin-left: 30px;
}

.status {
    margin-top: 200px;
    color: aliceblue;
}


.bot2 {
    margin-left: 39.5%;
    margin-top: 170px;
    display: flex;
}

.bot1 {
    margin-left: 42%;
    margin-top: 170px;
    display: flex;
} 
